.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    background-image: url(../img/cards/mujer\ viajando\ 1.jpg);
    width: 350px;
    height: 450px;
    background-size: cover;
    border-radius: 0;
    border: 0;
    margin: 10px 0px;
    overflow: hidden;
    
    &:hover div{
        transform: translate(0);
    }
    div{
        background-color: rgba(0, 0, 0, 0.548);
        width: 100%;
        height: 100%;
        transform: translate(100%);
        transition: 1s;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px;
        h2{
            color: white;
        }
    }
}