.footer{
    background-color: black;
    .infoEmpresa{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            width: 50%;
            color: white;
            text-align: center
        }
    }
    .contactosFooter{
        @extend .contactos;
        color:white;
        justify-content: start;
        padding-left: 32px;

    }
    
}

@media(min-width:768px){
    .footer{
        .infoEmpresa{
            width: 70%;
            flex-direction: row;
            flex-wrap: wrap;
            p{
                text-align: start;
            }
        }
        .logo{
            width: 150px;
            img{
                width: 100%;
              }
           
        }
    }
}