.footer{
    background-color: black;
    .infoEmpresa{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            color: white;
            padding: 32px;
        }
    }
    .contactosFooter{
        @extend .contactos;
        color:white;
        justify-content: start;
        padding-left: 32px;

    }
}

@media(min-width:768px){
    .footer{
        .infoEmpresa{
            width: 50%;
            flex-direction: row;
        }
    }
}