
$nav :(
    fondo: rgb(0, 0, 0),
    display:flex,
    listaEstilo:none,
    liPadding:10px,
    aTextDecoration:none,
    aColor:white,
    afontSize:24px,
);
.nav{
    background-color: map-get($nav , fondo );
    display:map-get($nav , display );
    flex-direction: row;
    justify-content: space-between;
    ul{
        width: 100%;
        list-style: map-get($nav , listaEstilo );
        text-align: center;
        display: none;
        order: 2;
        
        li{
            padding: map-get($nav , liPadding );
            a{
                text-decoration: map-get($nav , aTextDecoration );
                color: map-get($nav , aColor );
                font-size: map-get($nav , afontSize );
            }
        }
    }
    .menu {
        color: white;
        padding: 20px;
        font-size: 24px;
        display: flex;
        order: 1;
        align-items: center;
    }
    input{
        display: none;
        &:checked + ul{
            
            display: flex;
            flex-direction: column;
        
        }
    }
    
    
   
}
.logo{
    width: 150px;
    img{
        width: 100%;
      }
   
}
        
    


@media(min-width:768px){

    .nav {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .menu{
            display: none;
        }
        ul{
            display: flex;
            flex-direction: row;
            margin-right: 10px;
            width: auto;
        }
    }
   
    
    }
   