
$nav :(
    fondo: rgb(0, 0, 0),
    display:flex,
    listaEstilo:none,
    liPadding:10px,
    aTextDecoration:none,
    aColor:white,
    afontSize:24px,
);
.nav{
    background-color: map-get($nav , fondo );
    display:map-get($nav , display );
    ul{
        list-style: map-get($nav , listaEstilo );
        li{
            padding: map-get($nav , liPadding );
            a{
                text-decoration: map-get($nav , aTextDecoration );
                color: map-get($nav , aColor );
                font-size: map-get($nav , afontSize );
            }
        }
    }
 
}
.logo{
    width: 150px;
  
     img{
            width: 100%;
        }
        
    
}

@media(min-width:768px){

    .nav {
        justify-content: space-between;
        align-items: center;
    }
    ul{
        display: flex;
        margin-right: 10px;
    }
}