*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(14, 13, 13)
}
@import "mixin";
@import "button";
@import "nav";
@import "contactos";
@import "cards";
@import "precios";
@import "form";
@import "footer";





