*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(14, 13, 13)
}
.nav{
    background-color: black;
    display: flex;
    ul{
        list-style: none;
        li{
            padding: 10px;
            a{
                text-decoration: none;
                color: white;
                font-size: 24px;
            }
        }
    }
}
.logo{
    width: 150px;
}

@media(min-width:768px){

    .nav {
        justify-content: space-between;
        align-items: center;
    }
    ul{
        display: flex;
        margin-right: 10px;
    }
}



.contactos{
    font-size: 20px;
    color: white;
    .datos{
        display: flex;
        justify-content: center;
        margin:15px 0px;
        .tel{
            margin: 0px 5px;
        }
        }
    .redes{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0px ;
    }
}

@media(min-width:768px){
    .contactos{
        display: flex;
        justify-content: space-around;
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    background-image: url(../img/cards/mujer\ viajando\ 1.jpg);
    width: 350px;
    height: 450px;
    background-size: cover;
    border-radius: 0;
    border: 0;
    margin: 10px 0px;
    overflow: hidden;
    
    &:hover div{
        transform: translate(0);
    }
    div{
        background-color: rgba(0, 0, 0, 0.548);
        width: 100%;
        height: 100%;
        transform: translate(100%);
        transition: 1s;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px;
        h2{
            color: white;
        }
    }
}

.footer{
    background-color: black;
    .infoEmpresa{
        width: 50%;
        display: flex;
        flex-direction: column;
        p{
            color: white;
            padding: 32px;
        }
    }
    .contactosFooter{
        @extend .contactos;
        color:white;
        justify-content: start;
        padding-left: 32px;

    }
}



