*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(14, 13, 13)
}
@import "nav";
@import "contactos";
@import "cards";
@import "footer";
.button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border:2px solid white;
    width: 100%;
    padding: 10px 15px;
}
.precios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.precio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    color: white;
    margin: 10px 0px;
    padding: 25px;
    border: 2px solid #fff;
    min-height: 300px;
    h4{
        margin: 10px 0px;
        font-size: 24px;
    }
    p{
        margin: 15px 0px;
    }
    button{
        @extend .button;
    }
}
form{
    display: flex;
    flex-direction: column;
    h2{
        color: white;
        font-size: 32px;
        text-align: center;
        padding: 20px;
    }
    .datos{
        display: flex;
        justify-content: space-around;
    }
    .ingresoDatos{
        width: 45%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0);
        border:0;
        border-bottom: 2px solid #fff;
        color: #fff;
        &::placeholder{
            color: #fff;
            font-size: 16px;
        }
        &:focus{
            border:0;
            border-bottom: 2px solid #fff;
        }
    }
    
    .mensaje{
        display: flex;
        flex-direction: column;
        padding: 25px;
        textarea{
            @extend .ingresoDatos;
            width: 90%;
            margin: auto;
        }
        label{
            color: #fff;
            font-size: 24px;
            padding: 15px
        }
    }
    input[type="submit"]{
        @extend .button;
        width: 90%;
        margin: auto;
    }

}




