* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 13, 13);
}

.button, form input[type=submit], .precio button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  width: 100%;
  padding: 10px 15px;
}

.nav {
  background-color: black;
  display: flex;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  padding: 10px;
}
.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.logo {
  width: 150px;
}
.logo img {
  width: 100%;
}

@media (min-width: 768px) {
  .nav {
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    margin-right: 10px;
  }
}
.contactos, .footer .contactosFooter {
  font-size: 20px;
  color: white;
}
.contactos .datos, .footer .contactosFooter .datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
}
.contactos .datos .tel, .footer .contactosFooter .datos .tel {
  margin: 0px 5px;
}
.contactos .redes, .footer .contactosFooter .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}
.contactos .redes i, .footer .contactosFooter .redes i {
  padding: 5px;
}

@media (min-width: 768px) {
  .contactos, .footer .contactosFooter {
    display: flex;
    justify-content: space-around;
  }
  .contactos .datos, .footer .contactosFooter .datos {
    flex-direction: row;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-image: url(../img/cards/mujer\ viajando\ 1.jpg);
  width: 350px;
  height: 450px;
  background-size: cover;
  border-radius: 0;
  border: 0;
  margin: 10px 0px;
  overflow: hidden;
}
.card:hover div {
  transform: translate(0);
}
.card div {
  background-color: rgba(0, 0, 0, 0.548);
  width: 100%;
  height: 100%;
  transform: translate(100%);
  transition: 1s;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.card div h2 {
  color: white;
}

.footer {
  background-color: black;
}
.footer .infoEmpresa {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .infoEmpresa p {
  color: white;
  padding: 32px;
}
.footer .contactosFooter {
  color: white;
  justify-content: start;
  padding-left: 32px;
}

@media (min-width: 768px) {
  .footer .infoEmpresa {
    width: 50%;
    flex-direction: row;
  }
}
.precios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: strecht;
}

.precio {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: strecht;
  width: 200px;
  color: white;
  margin: 10px 0px;
  padding: 25px;
  border: 2px solid #fff;
  min-height: 300px;
}
.precio h4 {
  margin: 10px 0px;
  font-size: 24px;
}
.precio p {
  margin: 15px 0px;
}
form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: strecht;
}
form h2 {
  color: white;
  font-size: 32px;
  text-align: center;
  padding: 20px;
}
form .datos {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: strecht;
}
form .ingresoDatos, form .mensaje textarea {
  width: 90%;
  padding: 10px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
}
form .ingresoDatos::placeholder, form .mensaje textarea::placeholder {
  color: #fff;
  font-size: 16px;
}
form .ingresoDatos:focus, form .mensaje textarea:focus {
  border: 0;
  border-bottom: 2px solid #fff;
}
form .mensaje {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
form .mensaje label {
  color: #fff;
  font-size: 24px;
  padding: 15px;
}
form input[type=submit] {
  width: 90%;
  margin: auto;
}

@media (min-width: 768px) {
  form .datos {
    flex-direction: row;
  }
  form .ingresoDatos, form .mensaje textarea {
    width: 45%;
  }
  form .mensaje textarea {
    width: 90%;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */